html {
	font-family: sans-serif;
}

body * {
	box-sizing: border-box;
}

div {
	padding: 0;
	margin: 0;
	list-style: none;
}

.container {
	max-width: 1320px;
	padding: 0 15px;
	margin: 0 auto;
}

.header-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
}

.article {
	padding: 20px;
}

.article-2 {
	flex-direction: row;
	display: flex;
	justify-content: left;
	padding: 35px;
	gap: 25px;
}

.article-3 {
	padding: 35px;
}

a {
	color: black;
}

header {
	border-bottom: 2px solid #8f8c8c;
	width: 100%;
}
